html, body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin: 10px 0;
}

.social-links a:hover {
  color: #005999;
  text-decoration: underline;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.background-image-jabel-shams {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/IMG_8030.JPG');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.background-image-kili {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/kili_sunrise.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}


.corner-caption {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 3px #000;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  border-radius: 5px;
}

.container {
  max-width: 600px;
  width: 100%;
  /* background: white; */
  background-color: rgba(255, 255, 255, 0.85);
  /* background-color: #f5f7fa; */
  /* background-color: #faf4f0; */ 
  /* background-color: #fdf6e3; */
  /* background-color: #f3e6d3; */
  color: #3a2e27;


  padding: 20px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #0077cc;
    font-size: 18px;
}

.centered-img {
    display: block;
    margin: auto;
    width: 85%;
}

.new-section hr {
    border: none;
    border-top: 1px solid #ddd;
/*    margin: 10px 0; */
    width: 100%;
}

/*.new-section {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}*/

/*.new-section::after {
    content: "";
    display: block;
    height: 1px;
    background: #eee;
    margin: 20px auto 0 auto;
    width: 80%;
}*/

/*.new-section {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */       

.video-container {
  position: relative;
  width: 85%;
  max-width: 960px; /* или 100% если хочешь без ограничения */
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .centered-img {
        width: 90%;
    }
}