body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('../images/IMG_8030.JPG'); /* путь зависит от местоположения style.css */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
}
.container {
    max-width: 600px;
    width: 100%;
    background: white; 
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.social-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #0077cc;
    font-size: 18px;
}
.centered-img {
    display: block;
    margin: auto;
    width: 85%;
}
.new-section hr {
    border: none;
    border-top: 1px solid #ddd;
/*    margin: 10px 0; */
    width: 100%;
}
/*.new-section {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}*/

/*.new-section::after {
    content: "";
    display: block;
    height: 1px;
    background: #eee;
    margin: 20px auto 0 auto;
    width: 80%;
}*/

/*.new-section {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */       

.video-container {
  position: relative;
  width: 100%;
  max-width: 960px; /* или 100% если хочешь без ограничения */
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .centered-img {
        width: 90%;
    }
}

