<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title or "ResEngineer" }}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header class="navbar-header">
    <div class="navbar-center">
      <h1>RESENGINEER</h1>
    </div>
  </header>

  <div class="background">
    <div class="background-image-jabel-shams"></div>
  </div>

  <div class="container">
    {{ content | safe }}
  </div>

</body>
</html>